<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @citation.author %>
</p>

<p>
  <b>Year:</b>
  <%= @citation.year %>
</p>

<p>
  <b>Title:</b>
  <%= @citation.title %>
</p>

<p>
  <b>Journal:</b>
  <%= @citation.journal %>
</p>

<p>
  <b>Vol:</b>
  <%= @citation.vol %>
</p>

<p>
  <b>Pg:</b>
  <%= @citation.pg %>
</p>

<p>
  <b>Url:</b>
  <%= @citation.url %>
</p>

<p>
  <b>Pdf:</b>
  <%= @citation.pdf %>
</p>

<p>
  <b>Doi:</b>
  <%= @citation.doi %>
</p>

<p>
  <b>User:</b>
  <%= @citation.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @citation.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @citation.updated_at %>
</p>


<%= link_to 'Edit', edit_citation_path(@citation) %> |
<%= link_to 'Back', citations_path %>
