<h1>Listing priors</h1>

<table>
  <tr>
    <th>Citation</th>
    <th>Variable</th>
    <th>Phylogeny</th>
    <th>Distn</th>
    <th>Parama</th>
    <th>Paramb</th>
    <th>Paramc</th>
    <th>N</th>
    <th>Notes</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @priors.each do |prior| %>
  <tr>
    <td><%= prior.citation_id %></td>
    <td><%= prior.variable_id %></td>
    <td><%= prior.phylogeny %></td>
    <td><%= prior.distn %></td>
    <td><%= prior.parama %></td>
    <td><%= prior.paramb %></td>
    <td><%= prior.paramc %></td>
    <td><%= prior.n %></td>
    <td><%= prior.notes %></td>
    <td><%= prior.created_at %></td>
    <td><%= prior.updated_at %></td>
    <td><%= link_to 'Show', prior %></td>
    <td><%= link_to 'Edit', edit_prior_path(prior) %></td>
    <td><%= link_to 'Destroy', prior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prior', new_prior_path %>
