<p id="notice"><%= notice %></p>

<p>
  <b>Citation:</b>
  <%= @prior.citation_id %>
</p>

<p>
  <b>Variable:</b>
  <%= @prior.variable_id %>
</p>

<p>
  <b>Phylogeny:</b>
  <%= @prior.phylogeny %>
</p>

<p>
  <b>Distn:</b>
  <%= @prior.distn %>
</p>

<p>
  <b>Parama:</b>
  <%= @prior.parama %>
</p>

<p>
  <b>Paramb:</b>
  <%= @prior.paramb %>
</p>

<p>
  <b>Paramc:</b>
  <%= @prior.paramc %>
</p>

<p>
  <b>N:</b>
  <%= @prior.n %>
</p>

<p>
  <b>Notes:</b>
  <%= @prior.notes %>
</p>

<p>
  <b>Created at:</b>
  <%= @prior.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @prior.updated_at %>
</p>

<%##################################### %>
<h4>Significant Figures</h4>

<p>
  <b>Aboveground biomass: live (Mg/ha):</b>
  <%= @prior.OM_ag %>
</p>
<p>
  <b>Root biomass (Mg/ha):</b>
  <%= @prior.OM_root %>
</p>
<p>
  <b>Dead wood (dead trees, course woody debris) (Mg/ha):</b>
  <%= @prior.OM_wood %>
</p>
<p>
  <b>Litter (Mg/ha):</b>
  <%= @prior.OM_litter %>
</p>
<p>
  <b>Peat (Mg/ha):</b>
  <%= @prior.OM_ag %>
</p>
<p>
  <b>Potential Soil Organic Matter loss (Mg/ha):</b>
  <%= @prior.OM_SOM %>
</p>
<p>
  <b>Fraction of combustible biomass (aboveground, wood, litter) burned:</b>
  <%= @prior.fc_ag_wood_litter %>
</p>
<p>
  <b>Fraction of root biomass burned:</b>
  <%= @prior.fc_root %>
</p>
<p>
  <b>Fraction of peat burned:</b>
  <%= @prior.fc_peat %>
</p>
<p>
  <b>Fraction of SOM burned:</b>
  <%= @prior.fc_SOM %>
</p>
<p>
  <b>Proportional release of CO2 for each unit of biomass burned (kmol/ Mg dry matter):</b>
  <%= @prior.Ec_CO2 %>
</p>
<p>
  <b>Proportional release of CH4 for each unit of biomass burned (kmol/ Mg dry matter):</b>
  <%= @prior.Ec_CH4 %>
</p>
<p>
  <b>Proportional release of N2O for each unit of biomass burned (kmol/ Mg dry matter):</b>
  <%= @prior.Ec_N2O %>
</p>
<p>
  <b>Decay constant (k) for combustible biomass:</b>
  <%= @prior.k_ag_wood_litter %>
</p>
<p>
  <b>Decay constant (k) for roots:</b>
  <%= @prior.k_root %>
</p>
<p>
  <b>Decay constant (k) for peat:</b>
  <%= @prior.k_peat %>
</p>
<p>
  <b>Decay constant (k) for SOM:</b>
  <%= @prior.k_SOM %>
</p>
<p>
  <b>% termite mediated decomposition:</b>
  <%= @prior.termite %>
</p>
<p>
  <b>Proportional release of CO2 for each unit of peat biomass decomposed:</b>
  <%= @prior.Ed_CO2_peat %>
</p>
<p>
  <b>Proportional release of CO2 for each unit of litter biomass decomposed:</b>
  <%= @prior.Ed_CO2_litter %>
</p>
<p>
  <b>Proportional release of CH4 for each unit of combustible biomass decomposed:</b>
  <%= @prior.Ed_CH4_ag_wood_litter %>
</p>
<p>
  <b>Proportional release of CH4 for each unit of root biomass decomposed:</b>
  <%= @prior.Ed_CH4_root %>
</p>
<p>
  <b>Proportional release of CH4 for each unit of peat biomass decomposed:</b>
  <%= @prior.Ed_CH4_peat %>
</p>
<p>
  <b>Proportional release of CH4 for each unit of litter biomass decomposed:</b>
  <%= @prior.Ed_CH4_litter %>
</p>
<p>
  <b>Proportional release of N2O for each unit of combustible biomass decomposed:</b>
  <%= @prior.Ed_N2O_ag_wood_litter %>
</p>
<p>
  <b>Proportional release of N2O for each unit of root biomass decomposed:</b>
  <%= @prior.Ed_N2O_root %>
</p>
<p>
  <b>Proportional release of N2O for each unit of peat biomass decomposed:</b>
  <%= @prior.Ed_N2O_peat %>
</p>
<p>
  <b>Proportional release of N2O for each unit of litter biomass decomposed:</b>
  <%= @prior.Ed_N2O_litter %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere CO2 exchange (kmol/ha/yr) + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.F_CO2 %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere CH4 exchange (kmol/ha/yr) + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.F_CH4 %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere N2O exchange (kmol/ha/yr) + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.F_N2O %>
</p>
<p>
  <b>Age of transition (time at which biomass accumulation rate declines) (years):</b>
  <%= @prior.age_transition %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere CO2 exchange (kmol/ha/yr) after transition + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.new_F_CO2 %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere CH4 exchange (kmol/ha/yr) after transition + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.new_F_CH4 %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere N2O exchange (kmol/ha/yr) after transition + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.new_F_N2O %>
</p>
<p>
  <b>Rate of disturbance events (#/year):</b>
  <%= @prior.rd %>
</p>
<p>
  <b>Time required to recover pre-disturbance biomass stocks (years):</b>
  <%= @prior.tR %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere CO2 exchange during recovery (kmol/ha/yr) + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.FR_CO2 %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere CH4 exchange during recovery (kmol/ha/yr) + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.FR_CH4 %>
</p>
<p>
  <b>Average annual net ecosystem-atmosphere N2O exchange during recovery (kmol/ha/yr) + indicates uptake by ecosystem, - indicates release to atmosphere.:</b>
  <%= @prior.FR_N2O %>
</p>
<p>
  <b>Fraction of combustible biomass (aboveground, wood, litter) burned (when disturbance is fire):</b>
  <%= @prior.dfc_ag_wood_litter %>
</p>
<p>
  <b>Fraction of root biomass burned (when disturbance is fire):</b>
  <%= @prior.dfc_root %>
</p>
<p>
  <b>Fraction of peat biomass burned (when disturbance is fire):</b>
  <%= @prior.dfc_peat %>
</p>
<p>
  <b>Decay constant (k) of combustible biomass (aboveground, wood, litter) following disturbance:</b>
  <%= @prior.dk_ag_wood_litter %>
</p>
<p>
  <b>Decay constant (k) of combustible root biomass following disturbance:</b>
  <%= @prior.dk_root %>
</p>
<p>
  <b>Decay constant (k) of peat following disturbance:</b>
  <%= @prior.dk_peat %>
</p>



<%= link_to 'Edit', edit_prior_path(@prior) %> |
<%= link_to 'Back', priors_path %>
