<h1>Listing pfts</h1>

<table>
  <tr>
    <th>Definition</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Name</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pfts.each do |pft| %>
  <tr>
    <td><%= pft.definition %></td>
    <td><%= pft.created_at %></td>
    <td><%= pft.updated_at %></td>
    <td><%= pft.name %></td>
    <td><%= pft.parent_id %></td>
    <td><%= link_to 'Show', pft %></td>
    <td><%= link_to 'Edit', edit_pft_path(pft) %></td>
    <td><%= link_to 'Destroy', pft, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pft', new_pft_path %>
