<p id="notice"><%= notice %></p>

<p>
  <b>Definition:</b>
  <%= @pft.definition %>
</p>

<p>
  <b>Created at:</b>
  <%= @pft.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @pft.updated_at %>
</p>

<p>
  <b>Name:</b>
  <%= @pft.name %>
</p>

<p>
  <b>Parent:</b>
  <%= @pft.parent_id %>
</p>


<%= link_to 'Edit', edit_pft_path(@pft) %> |
<%= link_to 'Back', pfts_path %>
