<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @variable.description %>
</p>

<p>
  <b>Units:</b>
  <%= @variable.units %>
</p>

<p>
  <b>Notes:</b>
  <%= @variable.notes %>
</p>

<p>
  <b>Name:</b>
  <%= @variable.name %>
</p>

<p>
  <b>Max:</b>
  <%= @variable.max %>
</p>

<p>
  <b>Min:</b>
  <%= @variable.min %>
</p>

<p>
  <b>Created at:</b>
  <%= @variable.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @variable.updated_at %>
</p>


<%= link_to 'Edit', edit_variable_path(@variable) %> |
<%= link_to 'Back', variables_path %>
