<!DOCTYPE html>
<html>
  <head>
    <title>
    GHGVcalc
    </title>
    <%= stylesheet_link_tag "application", media: "all" %>
    
    <!-- Speed: use googles jQuery ... bc if they use google they've already got the lib cached-->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />-->
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyA9Ac4XswpkdjIslQcRJzgwnbkEDdomZS4&amp;sensor=false"></script>
    
  </head>
  <body>
    <header id="header_container" class="navbar navbar-fixed-top navbar">

      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Ecosystem Climate Regulation Services Calculator", calculator_path, id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "About", about_path %></li>
<!--              <li><%= link_to "Guide", guide_path %></li>-->
            </ul>
          </nav>
        </div>
      </div>

    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
